:root {
    --cornflower: #E7E9FC;
    --iris: #4D5AE5;
    --navyblue: #2E2F42;
    --slate: #434455; 
    --white: #FFFFFF;
    --cloud: #F4F4FD;
    --ocean: #404bbf;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.logo {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.web-logo {
    color: var(--iris);
}

.studio-logo{
    color: var(--navyblue);
    text-decoration-color: black;
}

.linkpage {
    text-decoration: none;
    color: var(--navyblue);
    font-weight: 500;
}

.linkpage:hover,
.linkpage:focus {
    color: var(--ocean);
}

.link-active {
    color: var(--ocean);
}

.contacts {
    color: var(--slate);
    text-decoration: none;
}

.contacts:hover,
.contacts:focus{
    color: var(--ocean);
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bg-sec1 {
    background-color: var(--navyblue);
    margin: 0;
    padding: 0;
}

.sec-title {
    color: var(--white);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 60px;
    letter-spacing: 1.12px;
}

.order-button {
    cursor: pointer;
    color: var(--white);
    background: var(--iris);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.64px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.sec2-roles {
position: relative;
font-size: 36px;
letter-spacing: 0.02em;
line-height: 40px;
text-transform: capitalize;
font-family: Roboto;
color: #2e2f42;
text-align: center;
}

.about-title {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.sec3-people {
position: relative;
font-size: 36px;
letter-spacing: 0.02em;
line-height: 40px;
text-transform: capitalize;
font-family: Roboto;
color: #2e2f42;
text-align: center;
}

.dark-bg {
background-color: var(--navyblue);
border: none;
border-radius: 4px;
color: var(--white)
}

.web-logo2 {
    color: var(--iris);
}

.studio-logo2 {
color: var(--cloud);
}

.mission {
    color: var(--cloud);
    line-height: 24 px;
    letter-spacing: 0.32px;
}
    